*{
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
a{
  padding: 20px 30px;
  display: inline-block;
  color: black;
  font-family: 'Coiny', cursive;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: #1E90FF;
}
.active {
  border-bottom: solid white 4px;
}
.icono{
display: inline-block;
}
