*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
}
nav{
  width: 1020px;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
header nav ul li a{
  padding: 10px 30px;
  display: inline-block;
  color: black;
  font-family: 'Boogaloo', cursive;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: #f0ff1e;
}
body{
  background-color: lightgray;
}
div{
  width: 280px;
  position: relative;
  display: flex;
  align-items: center;
}
span{
  position: absolute;
  left: 335px;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
}
.slider{
  width: 100%;
  position: relative;
  height: 80vh;
  margin: auto;
  overflow: hidden;
}
.slider .content {
  animation: cambio 20s infinite;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400vw;
}
.slider img{
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.slider img:nth-child(1) {
  left: 0;
}
.slider img:nth-child(2) {
  left: 100vw;
}
.slider img:nth-child(3) {
  left: 200vw;
}
.slider img:nth-child(4) {
  left: 300vw;
}
@keyframes cambio{
  0% {transform: translateX(0);}
  20% {transform: translateX(0);}

  25% {transform: translateX(-100vw);}
  45% {transform: translateX(-100vw);}

  50% {transform: translateX(-200vw);}
  70% {transform: translateX(-200vw);}

  75% {transform: translateX(-300vw);}
  100% {transform: translateX(-300vw);}
}
h1{
  color: #4A0650;
  margin-top: 20px;
  font-family: 'Shrikhand', cursive;
  text-align: center;
}
h1 img{
  width: 30px;
  height: 30px;
}
section{
  height: 480px;
  background: black;
  display: flex;
}
section>article>img{
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-top: 20px;
}
h4{
  color: white;
  font-family: 'Acme', sans-serif;
  text-align: center;
}
footer{
  margin-top: 1px;
  margin-bottom: 15px;
  width: 100%;
  height: 200px;
  background-color: black;
  font-family: 'Dosis', sans-serif;
}
footer article{
  position: absolute;
  display: table;
  width: 250px;
  height: 60px;
  margin: 30px 50%;
}
footer article img{
  width: 30px;
  height: 30px;
  align-self: center;
}
footer article:nth-child(2){
  margin-top: 100px;
  margin-left: 45%;
}
h5{
  color: white;
}
h6{
  color: white;
  text-align: center;
}
.sectAccion{
  height: 480px;
}

.sectAccion article a img{
  width: 300px;
  height: 400px;
  margin-left: 50px;
  margin-top: 20px;
}
