*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
}
nav{
  width: 1020px;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
a{
  padding: 10px 30px;
  display: inline-block;
  color: black;
font-family: 'Boogaloo', cursive;
}
nav ul li a:hover{
  border-bottom: solid white 4px;
  box-sizing: border-box;
  background-color: #1E90FF;
}
.active {

}
body{
  background-color: lightgray;
}
div{
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
}
span{
  position: absolute;
  left: 335px;
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
}
